<!-- index header-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id =  "navbardesign">
    <a class="navbar-brand" href="/"> <img src = "/img/logo.png" id = "web-logo"/></a>
    <a class="navbar-brand" href="/" id = "web-name">GourMeet</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>

      <ul class="navbar-nav mr-right nav-right-margin">
          {{!-- <div id = "login-register-group"> --}}
            <button class="btn my-2" type="submit" id = "header-login" onclick="window.location.href = '/login';">login</button>     
            <button class="btn btn-outline-light btn-light my-2" onclick="window.location.href = '/register';" id = "header-register" type="submit" >register</button>
          {{!-- </div> --}}
          
          <li class="nav-item active">
            <div class="dropdown">
              <a class="nav-link dropdown-toggle middlee" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="hello-uname"> 
                Hello, <span id = "helloname">{{uname}}</span>!
              </a>
              <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/user">Profile</a>
                <a class="dropdown-item" href="/useraccountsetting">Account Settings</a>
                <a class="dropdown-item" href="/logout">logout</a>
              </div>
            </div>
          </li>
      </ul>
    </div>
  </nav>

  

<!-- END index header-->