
{{!-- just a blank thing red divider --}}


  <nav class="navbar navbar-expand-md navbar-dark  " style="background-color: #9E2121; height: 100px;">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2"></div>

    <div class="navbar-collapse collapse w-100 order-2 order-md-0 dual-collapse2">
    </div>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2"></div>
  </nav>