body {
  margin: 0px;
  position: relative;
  width: 100%;
  height: 1024px;
}

#navbardesign {
  height: 100px;
}

/* body line 14*/
#web-logo{
  width: 120px;
  height:120px;
}

/* body line 15*/
#web-name{
  margin-left: 32%;
  margin-right: 20%;
  width: 20%;
  font-size: 40px;
  font-weight: 500;
  font-family: Roboto;
  color: #9E2121; 
}
/* body line 25*/
#header-login {
  margin-right: 10px;
  border-color: gray;
  width: 120px;
  height: 40px;
}

#header-login:hover {
  background-color: #9E2121;
  color: white;
  border-color:  #9E2121;
}

/* body line 26*/
#header-register {
  margin-right: 20px;
  width: 120px;
  height: 40px;
  background-color: #9E2121;
  color: white;
  border-color:  #9E2121;
}

#header-register:hover {
  background-color:#E0321E;
  color:white;
  border-color: #E0321E;
}

/* only matters when a user is signed in or not */
#login-register-group {
  visibility: visible;
}

#feed {
  position: reltative;
  margin-top: 50px;
  margin-left: 50px;
  z-index: 999;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}  

#add-review-pane {
  position: relative;
  width: 900px;
  height: 300px;
  margin: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}  

#add-review-header{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#add-review-header h2{
  height:50px;
  width:900px;
  padding: 10px;
  padding-left: 20px;;
  background-color:#9E2121;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  vertical-align: middle;
  color:white;
  text-align: center;
}

#add-review-main {
  height: 250px;
  width: 100%;
  /* background-color: gold; */
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

#add-review-left {
  width: 100px;
  height:100%;
}

#add-review-right {
  position: relative;
  width: 800px;
  height: 100%;
}

#add-review-slider-container{
  position: relative;
  width:750px;
  left:25px;
  height: 75px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}

#add-review-slider-container input{
  width:200px;
}

#add-review-slider-container td{
  padding-left:14px;
  padding-right:14px;
}

td.ratings-slider {
  width: 200px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%; 
  background: url('red-star.png');
  background-color: #9E2121;
  cursor: pointer;
}


#add-review-text textarea{
  margin: 10px;
  position: relative;
  width:700px;
  left:25px;
  max-height: 75px;
  padding: 5px;
}

.add-review-button {
  position:absolute;
  bottom: 20px;
  right: 70px;
}

#feed-content {
    position: relative;
    width: 900px;
    height: 250px;
    margin: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;

}  

.feed-content-photo {
    width: 200px;
    height: 200px;
    margin: 25px;
    border-radius: 10px;
} 

#feed-content-right {
  margin: 25px;
}

#feed-content-overall-rate{
  position: absolute;
  top: 50px;
  right: 50px;
  height: auto; 
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  /* border: 2px solid #9E2121; */
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

#feed-content-overall-rate h1{ 
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  vertical-align: middle;
  color: #000000;
}

h1.restaurant-name {
    /* position: relative;
    left: 270px;
    top:-200px; */
    
    font-size: 36px;
    line-height: 42px;   
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: #000000; 
}

h1.restaurant-branch {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

h1.restaurant-type-cuisine {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
}

h1.restaurant-serves {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
}

#ratings-overview {
    position: static;
    width: 400px;
    height: 250px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#ratings-overview table{
  margin: 25px;
  margin-left: 70px;
  line-height: 66.666666666px;
  align-items: center;
  text-align: left;
}

table.ratings-overview td {
  font-size: 24px;
  width: 250px;
  height: 50px;
}

/* for the reviews in restaurant page */
#reviews {
  width: 1340px;
  height: 775px;
}

#reviews-entry {
  position: relative;
  width: 900px;
  height: 316.66px;
  left: 20px;
  border-radius: 10px;
}

#entryheader {
  position: static;
  height: 100px;
  left: 0px;
  background-color:#9E2121;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.userphoto{
  margin: 16.666px;
  background: #C4C4C4;
  border-radius: 50%;
}

.up-small{
  width: 50px;
  height: 50px;
}

.up-med{
  width: 66.66px;
  height: 66.66px;
}

.btn-edit{
  height: 20px;
}

.btn-small{
  height: 15px;
}

.invert{
  filter: invert(100%);
}

#review-entry-main {
  height:216.66px;
  background-color: red;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  border-radius: 10px;
}

#reviews-entry {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.entryheadernameandname  {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22.6px;
  line-height: 22.6px;
  /* identical to box height */
  color: white;
}

.entryheadername:hover a{
  color:white;
}


td.entryheadername, .entryheadername a {
  width:260px;
  font-weight: bold;
  color: white;
}

td.entryheaderdate {
  width:260px;
  color: white;
  font-size: 12px;
}

td.overall-rating{
  width:260px;
  font-weight: bold;
  color: white;
}

td.headerbuttons{
  width:260px;
  text-align: right;
}

button.medium-button{
  position: relative;
  left: 100px;
  width: 100px;
  height: auto;
  padding: 0px;
  font-size: 12px;
  text-align: center;
  color: black;
  background-color: #f5f5f5;
}

.entryheaderoverallrating p {
  position: relative;
  width: 249px;
  height: 40px;
  left: 150px;
  top: 37px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 40px;
  /* identical to box height */
  color: #000000;
}

#updownvotes {
  padding-top:50px;
  width: 100px;
  height: 217px;
  background-color: #F5F5F5;
  text-align: center;
  line-height: 25px;
  display: inline-block;
  vertical-align: center;
  border-bottom-left-radius: 10px;
}

#updownvotes input{
  width: 30px;
  height: 30px;
}

#review-entry-right {
  width: 800px;
  height: 217px;
  background: #FFFFFF;

  border-bottom-right-radius: 10px;
}

.middlee{
  line-height: 40px;
  align-items: center;
  text-align: center;
}

.nav-right-margin{
  margin-right: 30px;
}

#ratings {
  width: 733.33px;
  height: 60px;
  /* background-color: green; */
  margin-right:20px;
  margin-left:20px;
  margin-top:10px;
  margin-bottom:10px;
  /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); */
  border-bottom: 1px solid gray;
  border-radius: 10px;
}

table.review-ratings {
  position: relative;
  width:100%;
  height: 100%;
  background-color: white;
  text-align: center;
  /* border: 1px solid gray; */
  /* border-radius: 10px; */
}

.padding-10 {
  padding: 10px;
}

#register-header {
  margin-top: -20px;
  background-color: #9E2121; 
  color: white;
  border-color: #9E2121;
}

/* restaurant.hbs */
#register-header:hover {
  background-color:#E0321E;
  color:white;
  border-color: #E0321E;
}

#errorreview
{
	color: #FF0000;
	font-weight: 700;
	font-size: 14px;
  text-align: left;
  margin-top: -15px;
	margin-left: 10px;
}

/* END for the reviews in restaurant page */

/*modal*/
.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  width: 500px;
  height: 500px;
  background-color: white;
  border-radius: 4px;
  padding: 20px;
}

#closeBtn {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
}