#user-content {
  position: relative;
  width: 900px;
  height: 250px;
  margin: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  border-style: solid;
  border-color: #9E2121;
}  

.user-content-photo {
    width: 200px;
    height: 200px;
    margin: 25px;
    border-radius: 10px;
} 

#user-content-right {
  margin: 25px;
}

#user-content-overall-rate{
  position: absolute;
  top: 50px;
  right: 50px;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  /* border: 2px solid #9E2121; */
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

#user-content-overall-rate h1{ 
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  vertical-align: middle;
  color: #000000;
}

h1.user-name {
    /* position: relative;
    left: 270px;
    top:-200px; */
    font-size: 36px;
    line-height: 42px;   
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: #000000; 
}

h1.user-location {
    /* position: relative;
    left: 270px;
    top: -225px; */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

h1.user-preference {
    /* position: relative;
    left: 270px;
    top: -180px; */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
}

h1.user-likes {
    /* position: relative;
    left: 270px;
    top: -180px; */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
}

#user-overview {
    position: static;
    width: 400px;
    height: 250px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border-style: solid;
    border-color: #9E2121;
}
  
#user-overview table{
  margin: 25px;
  margin-left: 19px;
  margin-right: -5px;
  line-height: 66.666666666px;
  align-items: center;
  text-align: center;
}

table.user-overview td {
  font-size: 24px;
  width: 250px;
  height: 50px;
}

/* for the reviews in restaurant page */
#reviews {
  width: 1340px;
  height: 775px;
}

#review-entry-main {
  background-color: red;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  border-radius: 10px;
}

td.entryheaderdate {
  width:260px;
  color: white;
}

#updownvotes input{
  width: 30px;
  height: 30px;
}

#review-entry-right {
  width: 800px;
  height: 220px;
  background: #FFFFFF;
  /* border-bottom:  1px solid gray; */
  /* border-bottom-right-radius: 10px; */
}

#review-text{
  width: 733.33px;
  height: 133.33px;
  margin-right:20px;
  margin-left:20px;
  margin-top:10px;
  margin-bottom:10px;
  background-color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  align-items: center;
  color: #000000;
  /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25); */
  /* border-bottom: 1px solid gray; */
  /* border-radius: 10px; */
}

#review-text p{
  padding: 10px;
}

button.small-button {
  position: relative;
  left: 5px;
  width: 50px;
  height: auto;
  padding: 0px;
  font-size: 12px;
  text-align: center;
  color: black;
  background-color: transparent;
}

/* END for the reviews in restaurant page */

body{
  margin: 0px;
  position: relative;
  width: 100%;
  height: 1024px;
}

#header {
position: fixed;
width: 100%;
height: 100px;
z-index: 9999;

background : #FFFFFF;
/* border: 1px solid #000000; */
box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.2);
}

#header img{
  position: absolute;
  left: 10px;
  top: 10px;
  height: 80px;
  width: 80px;
}

/* only matters when a user is signed in or not */
#login-register-group {
visibility: visible;
}


.upvote {
  display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 25px;
  cursor: pointer;
  background: url('http://i.stack.imgur.com/iqN2k.png');
  background-position: 0px -25px;
} 



.upvoteon {
  display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 25px;
  cursor: pointer;
  background: url('http://i.stack.imgur.com/iqN2k.png');
  background-position: 0px 2px;
}

.downvote {
  display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 25px;
  cursor: pointer;
  background: url('/img/dwnvote.png');
  background-position: 0px -2px;
} 

.downvoteon {
  display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 25px;
  cursor: pointer;
  background: url('/img/dwnvote.png');
  background-position: 0px -30px;
}

/* END for the reviews in restaurant page */


/*modal*/
/* .bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  width: 500px;
  height: 500px;
  background-color: white;
  border-radius: 4px;
  padding: 20px;
}

#closeBtn {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
} */


